
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.animation-spin,
.is-loading:after {
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear
}

.animation-rotate {
    -webkit-animation: spin 3s 1s infinite cubic-bezier(.075, .82, .165, 1);
    animation: spin 3s 1s infinite cubic-bezier(.075, .82, .165, 1)
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

.animation-bounce {
    -webkit-animation: bounce 1.8s 4 cubic-bezier(.075, .82, .165, 1);
    animation: bounce 1.8s 4 cubic-bezier(.075, .82, .165, 1)
}

.clickFeedback {
    -webkit-animation: clickTranslate .7s cubic-bezier(.075, .82, .165, 1);
    animation: clickTranslate .7s cubic-bezier(.075, .82, .165, 1)
}

@-webkit-keyframes clickTranslate {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes clickTranslate {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}









main {
  min-height: 600px;
}

main.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}
main .view-side-form {
  /* TRANSITION ANIMATIONS FOR SIDE FORM VIEW
        ------------------------------------------*/
  /* animations for side form view */
  /* start 'enter' transition */
  /* end 'enter' transition */
  /* end 'leave' transition */
}
main .view-side-form .side-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main .view-side-form .side-form .content {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}
main .view-side-form .side-form .background {
  background: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
}
main .view-side-form.ng-enter,
main .view-side-form.ng-leave {
  /* transition on enter and leave for .5s */
  transition: .5s;
}
main .view-side-form.ng-enter .side-form .content {
  /* start with content 80% off the right of the page */
  right: -80%;
}
main .view-side-form.ng-enter .side-form .background {
  /* start with background opacity 0 (invisible) */
  opacity: 0;
}
main .view-side-form.ng-enter-active .side-form .content {
  /* transition the right position which 
                       slides the content into view */
  transition: right .5s;
  /* end with content aligned to the right of the page */
  right: 0;
}
main .view-side-form.ng-enter-active .side-form .background {
  /* transition the background opacity to fades it in */
  transition: opacity .5s;
  /* end with background opacity 0.8 to give the overlay effect */
  opacity: .8;
}
main .view-side-form.ng-leave-active .side-form .content {
  /* transition the right position which 
                       slides the content out of view */
  transition: right .5s;
  /* end transition with the content completely off the page */
  right: -100%;
}
main .view-side-form.ng-leave-active .side-form .background {
  /* transition the background opacity to fades it out */
  transition: opacity .5s;
  /* end with background opacity 0 to hide it */
  opacity: 0;
}

