

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Typography
- Colors
- Links
- Buttons
- Forms
- Lists
- Tables
- Utilities
- Clearing
- Media Queries
- Base Styles
*/




/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  clear:right;
}


.width-10, .width-20, .width-30, .width-40, .width-50, .width-60, .width-70, .width-80, .width-90, .width-100, .offset-left-10, .grid--4>div, .width-33, .width-25, .offset-left-20, .offset-left-30, .offset-left-40, .offset-left-50, .offset-left-60, .offset-left-70, .offset-left-80, .offset-left-90, .offset-left-100, .offset-right-10, .offset-right-20, .offset-right-30, .offset-right-40, .offset-right-50, .offset-right-60, .offset-right-70, .offset-right-80, .offset-right-90, .offset-right-100, .deviceS-grid--1>div, .deviceS-grid--2>div, .deviceS-grid--3>div, .deviceS-grid--4>div, .deviceS-grid--5>div, .deviceS-grid--6>div, .deviceM-grid--1>div, .deviceM-grid--2>div, .deviceM-grid--3>div, .deviceM-grid--4>div, .deviceM-grid--5>div, .deviceM-grid--6>div, .deviceL-grid--1>div, .deviceL-grid--2>div, .deviceL-grid--3>div, .deviceL-grid--4>div, .deviceL-grid--5>div, .deviceL-grid--6>div, .deviceXL-grid--1>div, .deviceXL-grid--2>div, .deviceXL-grid--3>div, .deviceXL-grid--4>div, .deviceXL-grid--5>div, .deviceXL-grid--6>div {
  float: left;
  vertical-align: top;
  left:0;
  min-height: 0.5px;
}


.grid--s {
    max-width: 720px;
}

.grid--m {
    max-width: 1180px
}

.grid--l {
    max-width: 1320px
}


.width-10 {
  width:10%;
}

.grid--5>div,
.width-20 {
  width:20%;
}


.grid--4>div,
.width-25 {
    width: 25%
}

.width-30 {
  width:30%;
}

.grid--3>div,
.width-33 {
    width: 33.3333%
}

.width-40 {
  width:40%;
}

.grid--2>div,
.width-50 {
    width: 50%
}

.width-60 {
  width:60%;
}

.width-70 {
  width:70%;
}

.width-80 {
  width:80%;
}

.width-90 {
  width:90%;
}

.width-100 {
  width:100%;
}

.width-auto {
    width: auto
}

.offset-left-10 {
  margin-left:10%;
}

.offset-left-20 {
  margin-left:20%;
}

.offset-left-30 {
  margin-left:30%;
}

.offset-left-40 {
  margin-left:40%;
}

.offset-left-50 {
  margin-left:50%;
}

.offset-left-60 {
  margin-left:60%;
}

.offset-left-70 {
  margin-left:70%;
}

.offset-left-80 {
  margin-left:80%;
}

.offset-left-90 {
  margin-left:90%;
}

.offset-left-100 {
  margin-left:100%;
}

.offset-right-10 {
  margin-right:10%;
}

.offset-right-20 {
  margin-right:20%;
}

.offset-right-30 {
  margin-right:30%;
}

.offset-right-40 {
  margin-right:40%;
}

.offset-right-50 {
  margin-right:50%;
}

.offset-right-60 {
  margin-right:60%;
}

.offset-right-70 {
  margin-right:70%;
}

.offset-right-80 {
  margin-right:80%;
}

.offset-right-90 {
  margin-right:90%;
}

.offset-right-100 {
  margin-right:100%;
}

.height-5 {
    height: 5%
}

.height-10 {
    height: 10%
}

.height-15 {
    height: 15%
}

.height-20 {
    height: 20%
}

.height-25 {
    height: 25%
}

.height-30 {
    height: 30%
}

.height-35 {
    height: 35%
}

.height-40 {
    height: 40%
}

.height-45 {
    height: 45%
}

.height-50 {
    height: 50%
}

.height-55 {
    height: 55%
}

.height-60 {
    height: 60%
}

.height-65 {
    height: 65%
}

.height-70 {
    height: 70%
}

.height-75 {
    height: 75%
}

.height-80 {
    height: 80%
}

.height-85 {
    height: 85%
}

.height-90 {
    height: 90%
}

.height-95 {
    height: 95%
}

.height-100 {
    height: 100%
}

.height-100vh {
    height: 100vh
}

.height-auto {
    height: auto
}

.float-none {
    float: none
}

.float-left {
    float: left
}

.float-right {
    float: right
}


@media screen and (min-width:480px) {
    .deviceS-float-none {
        float: none
    }
    .deviceS-float-left {
        float: left
    }
    .deviceS-float-right {
        float: right
    }
}

@media screen and (min-width:768px) {
    .deviceM-float-none {
        float: none
    }
    .deviceM-float-left {
        float: left
    }
    .deviceM-float-right {
        float: right
    }
}

@media screen and (min-width:1180px) {
    .deviceL-float-none {
        float: none
    }
    .deviceL-float-left {
        float: left
    }
    .deviceL-float-right {
        float: right
    }
}


@media screen and (min-width:480px) {
    .deviceS-grid--1>div {
        width: 100%
    }
    .deviceS-grid--2>div {
        width: 50%
    }
    .deviceS-grid--3>div {
        width: 33.3333%
    }
    .deviceS-grid--4>div {
        width: 25%
    }
    .deviceS-grid--5>div {
        width: 20%
    }
    .deviceS-grid--6>div {
        width: 16.6666%
    }
}

@media screen and (min-width:768px) {
    .deviceM-grid--1>div {
        width: 100%
    }
    .deviceM-grid--2>div {
        width: 50%
    }
    .deviceM-grid--3>div {
        width: 33.3333%
    }
    .deviceM-grid--4>div {
        width: 25%
    }
    .deviceM-grid--5>div {
        width: 20%
    }
    .deviceM-grid--6>div {
        width: 16.6666%
    }
}

@media screen and (min-width:1180px) {
    .deviceL-grid--1>div {
        width: 100%
    }
    .deviceL-grid--2>div {
        width: 50%
    }
    .deviceL-grid--3>div {
        width: 33.3333%
    }
    .deviceL-grid--4>div {
        width: 25%
    }
    .deviceL-grid--5>div {
        width: 20%
    }
    .deviceL-grid--6>div {
        width: 16.6666%
    }
}

@media screen and (min-width:1320px) {
    .deviceXL-grid--1>div {
        width: 100%
    }
    .deviceXL-grid--2>div {
        width: 50%
    }
    .deviceXL-grid--3>div {
        width: 33.3333%
    }
    .deviceXL-grid--4>div {
        width: 25%
    }
    .deviceXL-grid--5>div {
        width: 20%
    }
    .deviceXL-grid--6>div {
        width: 16.6666%
    }
}


@media screen and (min-width:480px) {
    .deviceS-width-10 {
        width: 10%
    }
    .deviceS-width-15 {
        width: 15%
    }
    .deviceS-width-20 {
        width: 20%
    }
    .deviceS-width-25 {
        width: 25%
    }
    .deviceS-width-30 {
        width: 30%
    }
    .deviceS-width-33 {
        width: 33.3333%
    }
    .deviceS-width-35 {
        width: 35%
    }
    .deviceS-width-40 {
        width: 40%
    }
    .deviceS-width-45 {
        width: 45%
    }
    .deviceS-width-50 {
        width: 50%
    }
    .deviceS-width-55 {
        width: 55%
    }
    .deviceS-width-60 {
        width: 60%
    }
    .deviceS-width-65 {
        width: 65%
    }
    .deviceS-width-70 {
        width: 70%
    }
    .deviceS-width-75 {
        width: 75%
    }
    .deviceS-width-80 {
        width: 80%
    }
    .deviceS-width-85 {
        width: 85%
    }
    .deviceS-width-90 {
        width: 90%
    }
    .deviceS-width-95 {
        width: 95%
    }
    .deviceS-width-100 {
        width: 100%
    }
    .deviceS-width-auto {
        width: auto
    }
}

@media screen and (min-width:768px) {
    .deviceM-width-10 {
        width: 10%
    }
    .deviceM-width-15 {
        width: 15%
    }
    .deviceM-width-20 {
        width: 20%
    }
    .deviceM-width-25 {
        width: 25%
    }
    .deviceM-width-30 {
        width: 30%
    }
    .deviceM-width-33 {
        width: 33.3333%
    }
    .deviceM-width-35 {
        width: 35%
    }
    .deviceM-width-40 {
        width: 40%
    }
    .deviceM-width-45 {
        width: 45%
    }
    .deviceM-width-50 {
        width: 50%
    }
    .deviceM-width-55 {
        width: 55%
    }
    .deviceM-width-60 {
        width: 60%
    }
    .deviceM-width-65 {
        width: 65%
    }
    .deviceM-width-70 {
        width: 70%
    }
    .deviceM-width-75 {
        width: 75%
    }
    .deviceM-width-80 {
        width: 80%
    }
    .deviceM-width-85 {
        width: 85%
    }
    .deviceM-width-90 {
        width: 90%
    }
    .deviceM-width-95 {
        width: 95%
    }
    .deviceM-width-100 {
        width: 100%
    }
    .deviceM-width-auto {
        width: auto
    }
}

@media screen and (min-width:1180px) {
    .deviceL-width-10 {
        width: 10%
    }
    .deviceL-width-15 {
        width: 15%
    }
    .deviceL-width-20 {
        width: 20%
    }
    .deviceL-width-25 {
        width: 25%
    }
    .deviceL-width-30 {
        width: 30%
    }
    .deviceL-width-33 {
        width: 33.3333%
    }
    .deviceL-width-35 {
        width: 35%
    }
    .deviceL-width-40 {
        width: 40%
    }
    .deviceL-width-45 {
        width: 45%
    }
    .deviceL-width-50 {
        width: 50%
    }
    .deviceL-width-55 {
        width: 55%
    }
    .deviceL-width-60 {
        width: 60%
    }
    .deviceL-width-65 {
        width: 65%
    }
    .deviceL-width-70 {
        width: 70%
    }
    .deviceL-width-75 {
        width: 75%
    }
    .deviceL-width-80 {
        width: 80%
    }
    .deviceL-width-85 {
        width: 85%
    }
    .deviceL-width-90 {
        width: 90%
    }
    .deviceL-width-95 {
        width: 95%
    }
    .deviceL-width-100 {
        width: 100%
    }
    .deviceL-width-auto {
        width: auto
    }
}



/* Colors */

.bg-butter,
.bg-theme {
    background-color: #1fb6ff;
    color: #fff;
}


.bg-theme--d {
    background-color: #009eeb;
    color: #fff;
}

.bg-theme--l {
    background-color: #85d7ff;

}

.bg-blue {
    background-color: #1fb6ff
}

.bg-blue--d {
    background-color: #009eeb
}

.bg-blue--l {
    background-color: #85d7ff
}


.bg-yellow {
    background-color: #ffc82c
}


.bg-yellow--d {
    background-color: #f8b700
}

.bg-yellow--l {
    background-color: #ffd55f
}


.bg-orange {
    background-color: #ff7849
}


.bg-orange--d {
    background-color: #ff5216
}

.bg-orange--l {
    background-color: #ff9e7c
}


.bg-pink {
    background-color: #ff49db
}


.bg-pink--d {
    background-color: #ff16d1
}

.bg-pink--l {
    background-color: #ff7ce5
}

.bg-purple {
    background-color: #7e5bef
}


.bg-purple--d {
    background-color: #592dea
}

.bg-purple--l {
    background-color: #a389f4
}


.bg-red {
    background-color: #ff4949
}

.bg-red--d {
    background-color: #ff1616
}

.bg-red--l {
    background-color: #ff7c7c
}

.bg-green {
    background-color: #13ce66
}

.bg-green--d {
    background-color: #0f9f4f
}

.bg-green--l {
    background-color: #29eb7f
}

.bg-zero {
    background-color: #000
}

.bg-black {
    background-color: #1f2d3d
}

.bg-steel {
    background-color: #273444
}

.bg-slate {
    background-color: #3c4858
}

.bg-silver {
    background-color: #8492a6
}

.bg-snow {
    background-color: #f9fafc
}
.bg-snow--d {
    background-color: #eff2f7
}
.bg-snow--xd {
    background-color: #e5e9f2
}

.bg-smoke {
    background-color: #e0e6ed
}
.bg-smoke--d {
    background-color: #d3dce6
}

.bg-smoke--xd {
    background-color: #c0ccda
}

.bg-white {
    background-color: #fff
}


.bg-sucess {
    background-color: #13ce66
}

.bg-danger {
    background-color: #ff4949
}

.bg-warning {
    background-color: #ffc82c
}

/* Social Color & BGs */

.c-twitter {
    color: #55acee
}

.c-facebook {
    color: #3b5999
}

.c-dribbble {
    color: #ea4c89
}

.c-dropbox {
    color: #007ee5
}

.c-google {
    color: #dc4e41
}

.c-instagram {
    color: #3f729b
}

.c-linkedin {
    color: #0077b5
}

.bg-twitter {
    background-color: #55acee
}

.bg-facebook {
    background-color: #3b5999
}

.bg-dribbble {
    background-color: #ea4c89
}

.bg-dropbox {
    background-color: #007ee5
}

.bg-google {
    background-color: #dc4e41
}

.bg-instagram {
    background-color: #3f729b
}

.bg-linkedin {
    background-color: #0077b5
}


.bg-ghost {
    background-color: transparent
}


/* border colors */



.borderColor-theme {
    border-color: #1fb6ff
}


.borderColor-theme--d {
    border-color: #009eeb
}

.borderColor-theme--l {
    border-color: #85d7ff
}


.borderColor-green {
    border-color: #13ce66
}

.borderColor-green--d {
    border-color: #0f9f4f
}

.borderColor-green--l {
    border-color: #29eb7f
}

.borderColor-yellow {
    border-color: #ffc82c
}


.borderColor-yellow--d {
    border-color: #f8b700
}

.borderColor-yellow--l {
    border-color: #ffd55f
}



.borderColor-orange {
    border-color: #ff7849
}

.borderColor-orange--d {
    border-color: #ff5216
}

.borderColor-orange--l {
    border-color: #ff9e7c
}



.borderColor-pink {
    border-color: #ff49db
}


.borderColor-pink--d {
    border-color: #ff16d1
}

.borderColor-pink--l {
    border-color: #ff7ce5
}


.borderColor-purple {
    border-color: #7e5bef
}


.borderColor-purple--d {
    border-color: #592dea
}

.borderColor-purple--l {
    border-color: #a389f4
}


.borderColor-red {
    border-color: #ff4949
}


.borderColor-red--d {
    border-color: #ff1616
}

.borderColor-red--l {
    border-color: #ff7c7c
}

.borderColor-black {
    border-color: #1f2d3d
}

.borderColor-steel {
    border-color: #273444
}

.borderColor-slate {
    border-color: #3c4858
}

.borderColor-silver {
    border-color: #8492a6
}

.borderColor-snow {
    border-color: #f9fafc
}

.borderColor-smoke {
    border-color: #e0e6ed
}

.borderColor-white {
    border-color: #fff
}

.borderColor-blue {
    border-color: #1fb6ff
}

.borderColor-success {
    border-color: #13ce66
}

.borderColor-danger {
    border-color: #ff4949
}

.borderColor-warning {
    border-color: #ffc82c
}


.borderColor-twitter {
    border-color: #55acee
}

.borderColor-facebook {
    border-color: #3b5999
}

.borderColor-dribbble {
    border-color: #ea4c89
}

.borderColor-dropbox {
    border-color: #007ee5
}

.borderColor-google {
    border-color: #dc4e41
}

.borderColor-instagram {
    border-color: #3f729b
}

.borderColor-linkedin {
    border-color: #0077b5
}

.borderRadius-l {
    border-radius: 10px
}

.borderRadius-m {
	border-right: 4px;
}

.borderRadius-s {
	border-radius: 3px;
}


.borderRadius-0 {
	border-radius: 0;
}

.borderRadius-circle {
	border-radius: 50%;
}




.borderRadiusTop-l {
    border-radius: 10px 10px 0 0
}

.borderRadiusTop-m {
    border-radius: 4px 4px 0 0
}

.borderRadiusTop-s {
    border-radius: 3px 3px 0 0
}

.borderRadiusBottom-l {
    border-radius: 0 0 10px 10px
}

.borderRadiusBottom-m {
    border-radius: 0 0 4px 4px
}

.borderRadiusBottom-s {
    border-radius: 0 0 3px 3px
}

.borderRadiusLeft-l {
    border-radius: 10px 0 0 10px
}

.borderRadiusLeft-m {
    border-radius: 4px 0 0 4px
}

.borderRadiusLeft-s{
    border-radius: 3px 0 0 3px
}

.borderRadiusRight-l {
    border-radius: 0 10px 10px 0
}

.borderRadiusRight-m {
    border-radius: 0 4px 4px 0
}

.borderRadiusRight-s {
    border-radius: 0 3px 3px 0
}

.borderRadiusBottomLeft-l {
    border-radius: 0 0 0 10px
}

.borderRadiusBottomLeft-m {
    border-radius: 0 0 0 4px
}

.borderRadiusBottomLeft-s {
    border-radius: 0 0 0 3px
}

.borderRadiusBottomRight-l {
    border-radius: 0 0 10px 0
}

.borderRadiusBottomRight-m {
    border-radius: 0 0 4px 0
}

.borderRadiusBottomRight-s {
    border-radius: 0 0 3px 0
}

.borderRadiusTopLeft-l {
    border-radius: 10px 0 0 0
}

.borderRadiusTopLeft-m {
    border-radius: 4px 0 0 0
}

.borderRadiusTopLeft-s {
    border-radius: 3px 0 0 0
}

.borderRadiusTopRight-l {
    border-radius: 0 10px 0 0
}

.borderRadiusTopRight-m {
    border-radius: 0 4px 0 0
}

.borderRadiusTopRight-s {
    border-radius: 0 3px 0 0
}


.boxShadow-smoke {
    box-shadow: inset 0 0 0 1px #e0e6ed
}

.boxShadow-danger {
    box-shadow: inset 0 0 0 1px #ff4949
}

.c-theme,
.link.is-active {
    color: #1fb6ff
}



.c-theme--d {
    color: #0f9f4f
}

.c-theme--l {
    color: #85d7ff
}



.c-green,
.link--green {
    color: #13ce66
}
.c-green--d {
    color: #0f9f4f
}

.c-green--l {
    color: #29eb7f
}

.c-yellow {
    color: #ffc82c
}

.c-yellow--d {
    color: #f8b700
}

.c-yellow--l {
    color: #ffd55f
}

.c-orange,
.link--orange {
    color: #ff7849
}



.c-orange--d {
    color: #ff5216
}

.c-orange--l {
    color: #ff9e7c
}

.c-pink,
.link--pink {
    color: #ff49db
}

.c-pink--d {
    color: #ff16d1
}

.c-pink--l {
    color: #ff7ce5
}

.c-purple,
.link--purple {
    color: #7e5bef
}
.c-purple--d {
    color: #592dea
}

.c-purple--l {
    color: #a389f4
}


.c-red,
.link--red {
    color: #ff4949
}


.c-red--d {
    color: #ff1616
}

.c-red--l {
    color: #ff7c7c
}


.c-black {
    color: #1f2d3d
}

.c-steel {
    color: #273444
}

.c-slate,
.link--dark,
.link--snowBg {
    color: #3c4858
}

.c-silver,
.link--light {
    color: #8492a6
}

.c-snow {
    color: #f9fafc
}
.c-snow--d {
    color: #eff2f7
}

.c-snow--xd {
    color: #e5e9f2
}

.c-smoke--d {
    color: #d3dce6
}

.c-smoke--xd {
    color: #c0ccda
}

.c-blue,
.link--blue {
    color: #1fb6ff
}

.c-blue--d {
    color: #009eeb
}

.c-blue--l {
    color: #85d7ff
}

.c-smoke {
    color: #e0e6ed
}

.c-white {
    color: #fff
}


.c-success {
    color: #13ce66
}

.c-danger {
    color: #ff4949
}

.c-warning {
    color: #ffc82c
}

















/* Form Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.input--xl {
    padding: 0 20px
}

.input--l {
    padding: 0 16px
}

.input--m {
    padding: 0 14px
}


.input--s,
.input--xs {
    padding: 0 10px
}

.input--legible {
    padding: 0 8px
}

.input--underline {
    box-shadow: inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 -1px 0 0 #e0e6ed
}

.input--underline:hover {
    box-shadow: inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 -1px 0 0 #c0ccda
}

.input--underline:focus {
    box-shadow: inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 0 0 0 #e0e6ed, inset 0 -1px 0 0 #1fb6ff
}

::-webkit-input-placeholder {
    line-height: normal;
    color: #8492a6
}

::-moz-input-placeholder {
    line-height: normal;
    color: #8492a6
}

.inputGroup div:first-child .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.inputGroup div:last-child .input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}



.textarea--xl {
    min-height: 100px;
    padding: 16px 20px
}

.textarea--l {
    min-height: 100px;
    padding: 14px 16px
}

.textarea--m {
    min-height: 100px;
    padding: 8px 12px
}

.textarea--s,
.textarea--xs {
    min-height: 80px;
    padding: 6px 8px
}

.textarea--growing {
    height: 40px;
    padding: 6px 10px
}

.textarea--growing:focus {
    height: 140px
}

.select {
    box-shadow: none;
    width: 100%;
    top: auto;
    right: auto;
    z-index: auto;
    position: relative;
    text-align: initial;
    display: inline-block;
    cursor: default;
    border-radius: 0;
    text-indent: 0;
    font-weight: 300
}

.select,
.select:after {
    height: auto;
    -webkit-transition: none;
    transition: none
}

.select:after {
    background: none;
    background-size: auto;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    -webkit-transform: scale(1);
    transform: scale(1)
}




.select--xl select {
    padding: 0 60px 0 20px
}

.select--l select {
    padding: 0 50px 0 15px
}

.select--m select {
    padding: 0 40px 0 10px
}



/*
ui icons
 */


.uiIcon--textarea {
    height: auto
}

.uiIcon--xl .button,
.uiIcon--xl .input,
.uiIcon--xl .textarea,
.uiIcon--xl select {
    padding-left: 58px
}

.uiIcon--l .button,
.uiIcon--l .input,
.uiIcon--l .textarea,
.uiIcon--l select {
    padding-left: 48px
}

.uiIcon--m .button,
.uiIcon--m .input,
.uiIcon--m .textarea,
.uiIcon--m select {
    padding-left: 38px
}

.uiIcon--s .button,
.uiIcon--s .input,
.uiIcon--s .textarea,
.uiIcon--s select {
    padding-left: 28px
}

.uiIcon--xl .svgIcon {
    margin-top: 12px;
    margin-left: 12px
}

.uiIcon--l .svgIcon {
    margin-top: 10px;
    margin-left: 10px
}

.uiIcon--m .svgIcon {
    margin-top: 8px;
    margin-left: 8px
}

.uiIcon--s .svgIcon {
    margin-top: 6px;
    margin-left: 6px
}

.uiIcon.is-loading:after {
    border-right-color: transparent
}

.uiIcon--xl:after {
    top: 19px;
    left: 19px
}

.uiIcon--l:after,
.uiIcon--xl:after {
    margin: 0;
    -webkit-transform: translate(0);
    transform: translate(0)
}

.uiIcon--l:after {
    top: 18px;
    left: 18px
}

.uiIcon--m:after {
    top: 13px;
    left: 13px
}

.uiIcon--m:after,
.uiIcon--s:after {
    margin: 0;
    -webkit-transform: translate(0);
    transform: translate(0)
}

.uiIcon--s:after {
    top: 11px;
    left: 11px
}





/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  font-size:13.5px;
  padding: 0 0 0 0;
  margin:0 auto;
}

*, *:hover, *:focus, *.active {
  text-decoration: none;
  outline:none;
  list-style-type:none;
}

body, html {
  font-family:'Helvetica Neue Light', sans-serif;
  line-height: 1.3;
  z-index:0;
  color: #3c4858;
}

i, b, span, p, thead, tbody, td, tr, th, code, pre, nav, footer, article, header {
  /*etc...*/
  font-size:inherit;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16.5px;
}

h4 {
  font-size:14.5px;
}

h5 {
  font-size:13.5px;
}

h6 {
  font-size:12.5px;
}

a, button {
  cursor: pointer;
}



.table {
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
    border-top: 1px solid #e0e6ed
}

.table thead>tr:first-child>th {
    border-top: 0
}


.button--responsive {
    height: 50px;
    width: 180px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 18px;
}


